---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
// with in package.json:
//   dependecies: {
//     "astro-github-api-plugin": "file:../astro-github-api-plugin"
//   }
// import AstroGithubApiPlugin from '../../../astro-github-api-plugin';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, githubName } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={510} height={255} src={`/roebi-halter-in-blog${heroImage}`} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
					<!-- https://www.npmjs.com/package/jsonpath -->
					<!-- https://docs.github.com/en/rest/repos/repos#get-a-repository -->
					<!-- https://docs.github.com/en/rest/users/users?apiVersion=2022-11-28#get-a-user -->
				<!--	
					<h3>Project examples</h3>
					<div>Project description: <AstroGithubApiPlugin login="roebi" name="01-01-vanilla-HTML5-starter-page" jsonPath="description" /></div>
					<div>Project homepage: <AstroGithubApiPlugin login="roebi" name="01-01-vanilla-HTML5-starter-page" jsonPath="homepage" /></div>
					<div>Project 'license.name' wrapped in a 'h2': <AstroGithubApiPlugin login="roebi" name="01-01-vanilla-HTML5-starter-page" jsonPath="license.name" WrappedNodeName="h2"/></div>
					<div>Project Topics 'topics[0]' wrapped in a 'div' with class 'topiccls' (Press F12 for Debug Tools): <AstroGithubApiPlugin login="roebi" name="01-01-vanilla-HTML5-starter-page" jsonPath="topics[0]" WrappedNodeName="div" wrappedNodeClass="topiccls"/></div>

					<div>Project Topics 'topics[0]' wrapped in a 'div' with class 'topiccls' with navigationBaseURL (Press F12 for Debug Tools): <AstroGithubApiPlugin login="roebi" name="01-01-vanilla-HTML5-starter-page" jsonPath="topics[0]" WrappedNodeName="div" wrappedNodeClass="topiccls" navigationBaseURL="http://emample.com/"/></div>

					<h3>User examples</h3>
					<div>User name: <AstroGithubApiPlugin login="roebi" jsonPath="name" WrappedNodeName="div" wrappedNodeClass="listcls"/></div>
				-->
                <!-- <h3>Project List examples</h3> -->
					<!-- known 'bug': List are handled with add all text in one, instaed embedd as a html ordered list -->
					<!-- https://docs.astro.build/de/guides/styling/ -->
				<!--
					<style>
					ol {
	                  list-style: none; /* example of vertical ordered list */
	                }

                    li {
                      display: inline-block;
                      margin-right: 10px; /* add spacing between items */
                    }
					</style>
                    <div>Project Topics 'topics' ordered list wrapped in a 'div' with class 'topiccls' (Press F12 for Debug Tools): 
						<AstroGithubApiPlugin
						login="roebi"
                        name="01-01-vanilla-HTML5-starter-page"
                        jsonPath="topics"
                        WrappedNodeName="div"
                        wrappedNodeClass="listcls">
                        </AstroGithubApiPlugin>
                    </div>
				-->
                </div>
			</article>
			{ githubName &&
			<article>
				<div class="prose">
				    <hr />
				    GitHub Repo {githubName}
			    </div>
			</article>
		    }
		</main>
		<Footer />
	</body>
</html>
